<aside class="w-64 h-full bg-gray-300 dark:bg-gray-800 fixed" [ngClass]="{'hidden':!sideBar}" >
  <a class="flex items-center ml-2 -mb-4 p-2"  routerLink="/app">
    <fa-icon [icon]="logo" [size]="'2x'" class=" text-emerald-500"></fa-icon>
    <span class="ml-3 self-center font-semibold whitespace-nowrap text-xl">Farmacia</span>
  </a>
  <button (click)=hideNav() class="bg-slate-400/80 dark:bg-slate-700 absolute -right-4 rounded-full px-2 py-2 w-10 h-10 ">
    <fa-icon [icon]="arrow" class=""></fa-icon>
  </button>
  <div class="overflow-y-auto py-4 px-3 bg-gray-300 dark:bg-gray-800">
    <ul class="space-y-2">
      <li class="h-10">
        <a class="flex items-center p-2 text-base h-full rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700" routerLink="/app" >
          <fa-icon [icon]="dashboard" class="w-4 text-center"></fa-icon>
          <span class="ml-3">Dashboard</span>
        </a>
      </li>
      <li class="h-10">
        <a class="flex items-center p-2 text-base h-full rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700" routerLink="/app/usuarios" >
          <fa-icon [icon]="users" class="w-4 text-center"></fa-icon>
          <span class="ml-3">Usuarios</span>
        </a>
      </li>
      <li class="h-10">
        <a class="flex items-center p-2 text-base h-full rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700" routerLink="/app/productos" >
          <fa-icon [icon]="pills" class="w-4"></fa-icon>
          <span class="ml-3">Productos</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
  

<!-- <aside className={`${sideBarOpen ? "w-64" : "w-[4.5rem]"} h-full bg-gray-300 dark:bg-gray-800 fixed `} >
  <Link className="flex items-center -mb-4 " to={"/"}>
    <ConquisLogo className={`${sideBarOpen ? "" : "mx-auto"} -scale-[0.4]`}/>
    <span className={`${sideBarOpen ? "self-center text-xl font-semibold whitespace-nowrap" : "hidden"} `}>Conquis</span>
  </Link>
  <button onClick={() => hideShow()} className="bg-slate-400/80 dark:bg-slate-700 absolute -right-4 rounded-full px-2 py-2"><MdOutlineArrowBackIosNew className={`${sideBarOpen ? "rotate-0" : "rotate-[540deg]"} arrow`} /></button>
  <div className="overflow-y-auto py-4 px-3 bg-gray-300 dark:bg-gray-800">
    <ul className="space-y-2">
      <li className="h-10">
        <Link className="flex items-center p-2 text-base h-full rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700" to={"/"}>
          <MdDashboard className={`${sideBarOpen ? "" : "mx-auto"}`}/>
          <span className={`${sideBarOpen ? "ml-3" : "ml-0 hidden"}`}>Dashboard</span>
        </Link>
      </li>
      <li className="h-10">
        <Link className="flex items-center p-2 text-base h-full rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700" to={"actividades"}>
          <MdFactCheck className={`${sideBarOpen ? "" : "mx-auto"}`}/>
          <span className={`${sideBarOpen ? "ml-3" : "ml-0 hidden"}`}>Actividades</span>
        </Link>
      </li>
      <li className="h-10">
        <Link className="flex items-center p-2 text-base h-full rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700" to={"avances"}>
          <RiBarChartHorizontalFill className={`${sideBarOpen ? "" : "mx-auto"}`}/>
          <span className={`${sideBarOpen ? "ml-3" : "ml-0 hidden"}`}>Avances</span>
        </Link>
      </li>
      <li className="h-10">
        <Link className="flex items-center p-2 text-base h-full rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700" to={"clubes"}>
          <RiFlagFill className={`${sideBarOpen ? "" : "mx-auto"}`}/>
          <span className={`${sideBarOpen ? "ml-3" : "ml-0 hidden"}`}>Clubes</span>
        </Link>
      </li>
      <li className="h-10">
        <Link className="flex items-center p-2 text-base h-full rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700" to={"especialidades"}>
          <RiCompassFill className={`${sideBarOpen ? "" : "mx-auto"}`}/>
          <span className={`${sideBarOpen ? "ml-3" : "ml-0 hidden"}`}>Especialidades</span>
        </Link>
      </li>
      <li className="h-10">
        <Link className="flex items-center p-2 text-base h-full rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700" to={"login"}>
          <MdPerson className={`${sideBarOpen ? "" : "mx-auto"}`}/>
          <span className={`${sideBarOpen ? "ml-3" : "ml-0 hidden"}`}>Login</span>
        </Link>
      </li>
      <li className={`${settingsOpen ? "h-auto" : "h-10"} settings`}>
        <button className="flex items-center w-full p-2 text-base h-full rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700" onClick={() => openSettings()} >
          <MdSettings className={`${sideBarOpen ? "" : "mx-auto"}`}/>
          <span className={`${sideBarOpen ? "ml-3" : "ml-0 hidden"}`}>Configuracion</span>
        </button>
        <ul className={`${settingsOpen ? "" : "hidden"} settings-elements`}>
          <li>
          <div className={`${sideBarOpen ? "px-3 py-4" : "hidden"} overflow-y-auto`}>
          <label htmlFor="checked-toggle" className="relative inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" id="checked-toggle" className="sr-only peer" onChange={() => changeTheme()} />
            <div className="w-11 h-6 bg-slate-900 rounded-full peer peer-focus:ring-4 peer-focus:ring-yellow-600/50 dark:peer-focus:ring-yellow-600/50 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-yellow-500"></div>
            <span className="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Modo oscuro</span>
          </label>
          </div>
          </li>
          <li>

          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside> -->