<div class="main">
    <div class="mx-auto max-w-xs rounded text-white text-center p-3 pt-20">
        <h1 class="text-2xl font-bold">Farmacia</h1>
        <div class="text-left" >
            <label for="" class="text-sm text-slate-400 text-left">Usuario</label>
            <input type="text" class="h-9 w-full border border-slate-800 mt-2 px-2 text-sm rounded-sm bg-slate-900" name="" id="">
        </div>
        <div class="text-left mt-2">
            <label for="" class="text-sm text-slate-400 text-left">Clave</label>
            <input type="text" class="h-9 w-full border border-slate-800 mt-2 px-2 text-sm rounded-sm bg-slate-900" name="" id="">
        </div>
        <button class="bg-purple-900 w-full text-sm h-9 mt-6 rounded-sm font-bold">LOGIN</button>
    </div>
</div>
