<div>
    <h1 class="font-semibold text-xl">Usuarios</h1>
    <div class="flex">

        <button class="bg-emerald-600 hover:bg-emerald-500 text-sm self-end rounded-lg px-3 py-1.5 text-white" >Nuevo usuario</button>
    </div>
    <div class="relative overflow-x-auto rounded mt-3">
        <table class="w-full text-sm text-left text-gray-400">
            <thead class="text-xs uppercase bg-gray-700">
                <tr>
                    <th class="px-6 py-3" >Nombre</th>
                    <th class="px-6 py-3" >Rol</th>
                    <th class="px-6 py-3" >Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-800 border-t border-gray-700" *ngFor="let user of usuarios" >
                    <th class="px-6 py-3 font-medium text-white whitespace-nowrap" >{{user.nombre}} <div class="text-gray-400">{{user.correo}}</div> </th>
                    <td class="px-6 py-3 capitalize" >{{user.rol}}</td>
                    <td class="px-6 py-3" >
                        <div class="flex items-center gap-2">
                            <div class="h-2 w-2 rounded-full" [ngClass]="{'bg-red-700':!user.activo,'bg-emerald-500':user.activo}" ></div>{{user.activo ? " Activo" : "Inactivo"}}
                        </div>
                    </td>
                    <td class="px-6 py-3 float-right flex items-center gap-1">
                        <button class="bg-teal-500 hover:bg-teal-400 rounded-lg px-3 py-1.5 text-gray-900">Editar</button>
                        <button class="bg-red-600 hover:bg-red-500 rounded-lg px-3 py-1.5 text-white">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
