@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}

.main{
    background-image: url(./assets/layered-waves-green.svg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.main-container{
    transition: margin 1s ;
}
.arrow{
    transition: transform 1s;
}